.carouselSection {
  position: relative;
  margin-bottom: 70px;

  & > .contentWrapper {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .carouselTitle {
    color: white;
    font-size: 24px;
    font-weight: normal;
  }
}
